body{
  font-family: 'Varela Round', Geneva, Tahoma, sans-serif;
  display: flex;
  height: 100vh;
}
/* HEADER - MENU, BARRA DE PESQUISA ------------------------------------------------------------------------------*/
#menu:hover{
    font-size: 1.1em;
    transition: .4s ;
}
#search{
    display: flex;
    position: absolute;
    left: 80%;
    margin: 1px;
}
/* HOME - MAIS DETALHES  ------------------------------------------------------------------------------------------*/
#homeh1{
    margin-top: 5%;
    margin-bottom: 10%; 
}
#maisDetalhes{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #00F5FF    ;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
#maisDetalhes:hover{
    color: #00F5FF;
    transform: scale(1.1);
    font-size: 1.2em;
}
/* SOBRE VAGAS  ---------------------------------------------------------------------------------------------------*/
#enviarSobre{
    margin-top: 3%;
    font-size: 16px;
    color: #2a494d;
    text-decoration: none;
    margin-bottom: 3%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
#enviarSobre:hover{
    background-color: #2a494d;
    border: #ffffff;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}
#cardSobre{
    position: absolute;
    top: 300px;
    left: 60%;
}
/* LOGIN ADM - CAIXINHA, BOTÃO ------------------------------------------------------------------------------------*/
#login{
    padding-top: 1%;
    margin-top: 10%;
    height: 65%;
    margin-bottom: 10%;
    width: 65%;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#login h1{
    background-color: brown;
    padding-top: 3%;
}
#textH1{
    padding-top: 3%;
    color: #2a494d;
}
#acesso {
    font-size: 16px;
    color: #2a494d;
    text-decoration: none;
    margin-top: 12%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
#acesso:hover {
    background-color: #2a494d;
    border: #ffffff;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}
#recuperarP{
   padding-bottom: 10%;
   color: #615858aa;
}
/* ÁREA ADM */
#vagasSem{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 65%;
    height: 70px;
}
/* CADASTRO DE NOVAS VAGAS ----------------------------------------------------------------------------------------*/
#cadastro{
    margin-top: 3%;
    margin-bottom: 3%;
 
    border-radius: 1%;
}
#vagasCad{
    margin-top: 2%;
}
#novoCad{
    padding-top: 1%;
    margin-top: 10% ;
    width: 65%;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: rgb(196, 255, 231);
}
#novoCad h1{
    padding-top: 3%;
    background-color: #2a4d2f;
}
#cardsCad{
    margin-bottom: 15%;
}
/* EDITAR ---------------------------------------------------------------------------------------------------------- */
#edit{
    background-color: #2a4d2f;
    padding-top: 1%;
    margin-top: 10%;
    
    margin-bottom: 10%;

    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#edit h1{
    background-color: #00F5FF;
    padding-top: 3%;
}
/* FOOTER - LOGOS REDES SOCIAIS  ------------------------------------------------------------------------------------*/
.efeitohover{
    color:#ffffff;
    cursor: pointer; /* maozinha quando passa o mouse por cima */ 
    transition: .4s ; /* para a transição nao */
}
.efeitohover:hover{
    color: #ffffff;
    font-size: 1.2em;
}
