{% extends 'modelo.html' %}
{% block conteudo %}
    {% if not vagas %}
    <div id="vagasSem" class="container text-center">
        <h4 class="text-center text-danger  f-2">Nenhuma vaga cadastrada</h4>
    </div>
    {% else %}
    <h1 id='textH1' class="text-center mt-5">Cadastrar Novas Vagas</h1>
        <div id='cadastro' class="container text-center">
            <ul class="list-group mb-3 d-flex flex-row">
                <div id='vagasCad'class="row g-3">
                    {% for vaga in vagas %}
                        <div class="col-12 col-md-8 col-lg-6 mx-auto ">
                            <li class="list-group-item py-1 d-flex align-items-center">
                                <div class="col-7">
                                    <h4 class="text-danger">{{vaga['cargo_vaga']}}</h4>
                                    <br>
                                    <h5 class="text-black">{{vaga['tipo_vaga']}}</h5>
                                    <h5 class="text-black">{{vaga['requisitos_vaga']}}</h5>
                                    <p class="text-danger fs-3">R$ {{vaga['salario_vaga']}}</p>
                                    <h5 class="text-black">{{vaga['local_vaga']}}</h5>
                                    <p class="text-success">{{vaga['email_vaga']}}</p>
                                </div>
                                <div class="col">
                                    <a href="/editvaga/{{vaga['id_vaga']}}"><i class="bi bi-pencil-square fs-3 ms-5 text-end" style="color:#2a494d; left: 500px;"></i></a>
                                    <a href="/excluir/{{vaga['id_vaga']}}" onclick="return confirm('⚠️​Tem certeza que deseja excluir?⚠️')"><i class="bi bi-trash3 fs-3 ms-5 text-end" style="color:#2a494d;"></i></a>
                                </div>
                            </li>
                        </div>
                    {% endfor %}
                </div>
            </ul>
    {% endif %}
        <div class="container text-center">
            <button id='acesso' type="button" onclick="window.location.href='/cadvaga'" class="btn btn-lg btn-outline mx-5 mt-1">NOVO</button>
            <button id='acesso' type="button" onclick="window.location.href='/logout'" class="btn btn-lg mx-5 mt-1">SAIR</button>
        </div>
    </div>
{% endblock %}
