{% extends 'modelo.html' %}
{% block conteudo %}
<div class="container mt-5">
    <h1 class="mb-4">Vaga de Desenvolvedor Web</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Tipo de Vaga</h3>
            <p>{{vaga["tipo_vaga"]}}</p>

            <h3>Cargo</h3>
            <p>{{vaga['cargo_vaga']}}</p>

            <h3>Requisitos</h3>
            <ul>
                <li>{{vaga['requisitos_vaga']}}</li>
            </ul>
            <h3>Local</h3>
            <p>{{vaga['local_vaga']}}</p>

            <h3>Salário</h3>
            <p>{{vaga['salario_vaga']}}</p>

            <h3>Email de Contato</h3>
            <p>{{vaga['email_vaga']}}</p>
        </div>
        <div id='cardSobre' class="col-md-6">
            <div class="card mb-5" style="width: 30rem; ">
                <img src="../static/img/imagens/{{vaga['img_vaga']}}" class="card-img-top" style="width: 100%; height: 320px;" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{vaga['cargo_vaga']}}</h5>
                <p class="card-text">{{vaga['desc_vaga']}}<br></p>
                <p> Envie aqui o seu curriculo com as sua informações. A empresa entrará em cotato se o seu curriculo for selecionado.</p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group m2-3">
                            <script src="app.js"></script>
                            <div class="form-floating">
                                <input type="file" name="curriculo" id="curriculo" accept="pdf" required class="form-control" />
                                <div class="invalid-feedback">Você só pode enviar arquivos em pdf:
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="botao">
                        <a  id='enviarSobre'href="{{ url_for('sobre', vaga_id=vaga['id_vaga']) }}" class="btn btn-outline" >ENVIAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}